*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header,nav,footer{
    background-color: black;
    color: white;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10rem;
}

nav{
    display: flex;
    position: sticky;
    height: 2rem;
    top: 0;
}
nav button{
    color: rgb(200, 200, 200);
    border: none;
    background: none;
    flex: 1;
    font-size: 100%;
}

nav button:hover{
    color: rgb(250, 250, 250);
}

main{
    display: flex;
    background-color: rgb(240, 240, 240);
}

main section{
   font-size: medium;
}

main section article{
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}

h1{
    margin-top: 2rem;
    font-size:xx-large;
    color: #ABD037;
}
p{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

aside img{
    width: 100%;
}

footer{
    height: 3rem;
}

footer p{
    text-align: center;
}